main {
    background-color: #ebe8ed;
}

/* Timeline Style */
.timeline-icon {
  width: 100%; /* Ensure this class is still defined to maintain the size of your icons */
  border-radius: 50px;
}

.timeline-icon-bg-blue {
  /* Assuming you're setting the background of the icon container, but this should be set on the parent element or handled differently since these classes are applied to the <img> */
  background: rgb(33, 150, 243);
}

.timeline-icon-bg-pink {
  /* As above, ensure this is the intended effect since it applies to <img> */
  background: rgb(233, 30, 99);
}
.time-line {
  /* background-color: red; */
}

.vertical-timeline-element-content {
  /* Add your styles here */
  background: #ffffff; 
  /* border: 2px solid #a8a7a7; */
  /* box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2); */
}

.vertical-timeline-element-date {
  font-weight: bold;
  color: black;
  font-style: italic;

}